#!/bin/bash

# Shortcuts
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias news="wget -O - hackurls.com/ascii | less"

alias dr="defaults read"
alias dw="defaults write"

# news
alias news="curl -sSL hackurls.com/ascii | less"

# HTTPie
alias https="http --default-scheme=https"

# cmus
alias cmus='screen -q -r -D cmus || screen -S cmus /usr/local/bin/cmus'

# Docker
alias d='docker'

if [ "$(arch)" = "armv7l" ]; then
  # Raspberry Pi variant
  alias mysql="docker run -it --rm --name mysql-cli jsurf/rpi-mariadb mysql"
else
  alias mysql="docker run -it --rm --name mysql-cli mysql:5.7 mysql"
fi

unalias vol >/dev/null 2>/dev/null
if [ "$(uname)" = "Darwin" ]; then
  vol() {
    osascript -e "set Volume $((($1 + 5) / 10))"
  } 
else
  alias vol="amixer set Master"
fi

alias node="docker run -it --rm --name node-cli -v \$(pwd):/app -w /app node:lts-alpine node"
alias build-wtfutil="curl -sSL https://raw.githubusercontent.com/wtfutil/wtf/master/Dockerfile | docker build --build-arg=version=v0.26.0 -t wtfutil -"
alias wtfutil="docker run -it --rm --name wtfutil -v ${HOME}/.dotfiles/wtfutil/config.yml:/config/config.yml wtfutil --config=/config/config.yml"

# TMUX
alias tmux="tmux -2"

# NVIM
alias vim="nvim"
alias vi="nvim"

# HSTR configuration - add this to ~/.zshrc
alias hh=hstr                    # hh to be alias for hstr
setopt histignorespace           # skip cmds w/ leading space from history
export HSTR_CONFIG=hicolor       # get more colors
export SAVEHIST=100000
bindkey -s "\C-r" "\eqhstr\n"     # bind hstr to Ctrl-r (for Vi mode check doc)

# for opt + ← and opt + → to skip a word
bindkey '\e\e[C' forward-word
bindkey '\e\e[D' backward-word
