#!/bin/bash

# Shortcuts
alias reloaddns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"
alias reloadzshplugins="rm -f ~/.zsh_plugins ~/.zsh_plugins.tmux && source ~/.zshrc"

alias dr="defaults read"
alias dw="defaults write"

# news
alias news="curl -sSL hackurls.com/ascii | less"

# HTTPie
alias https="http --default-scheme=https"

# music control (mpd on port 6600)
alias music-previous="(echo previous; sleep 0.05) | nc 127.0.0.1 6600 >/dev/null"
alias music-pause="(echo pause; sleep 0.05) | nc 127.0.0.1 6600 >/dev/null"
alias music-next="(echo next; sleep 0.05) | nc 127.0.0.1 6600 >/dev/null"

# Docker
alias d='docker'

if [ "$(arch)" = "armv7l" ]; then
  # Raspberry Pi variant
  alias mysql="docker run -it --rm --name mysql-cli jsurf/rpi-mariadb mysql"
else
  alias mysql="docker run -it --rm --name mysql-cli mysql:5.7 mysql"
fi

alias node="docker run -it --rm --name node-cli -v \$(pwd):/opt/app -w /opt/app node:lts-alpine node"
alias terraform="docker run -it --rm --name terraform-cli -v \$(pwd):/opt/app -w /opt/app hashicorp/terraform"
alias build-wtfutil="curl -sSL https://raw.githubusercontent.com/wtfutil/wtf/master/Dockerfile | docker build --build-arg=version=v0.26.0 -t wtfutil -"
alias wtfutil="docker run -it --rm --name wtfutil -v ${HOME}/.dotfiles/wtfutil/config.yml:/config/config.yml wtfutil --config=/config/config.yml"

unalias vol >/dev/null 2>/dev/null
if [ "$(uname)" = "Darwin" ]; then
  vol() {
    osascript -e "set Volume $((($1 + 5) / 10))"
  } 
else
  alias vol="amixer set Master"
fi

# TMUX
alias tmux="tmux -2"

# NVIM
alias vim="nvim"
alias vi="nvim"

# lazygit
alias lg="lazygit"

# HSTR configuration - add this to ~/.zshrc
alias hh=hstr                    # hh to be alias for hstr
setopt histignorespace           # skip cmds w/ leading space from history
export HSTR_CONFIG=hicolor       # get more colors
export SAVEHIST=100000
bindkey -s "\C-r" "\eqhstr\n"     # bind hstr to Ctrl-r (for Vi mode check doc)

# for opt + ← and opt + → to skip a word
bindkey '^[[1;3C' forward-word
bindkey '^[[1;3D' backward-word
