configs/github/hosts.yml
configs/mpd/**
!configs/mpd/mpd.conf
!configs/mpd/playlists
!configs/mpd/playlists/.gitkeep
configs/mysql/data/**
configs/ncmpcpp/**
!configs/ncmpcpp/config
!configs/ncmpcpp/bindings
configs/neomutt/accounts/default
configs/nvim/autoload
configs/nvim/lua/plug.lua
configs/nvim/lua/plug.lua.old
configs/nvim/plugged
configs/nvim/plugin/packer_compiled.lua
configs/nvim/lazy-lock.json
configs/opencode/**
!configs/opencode/opencode.json
configs/qutebrowser/bookmarks
configs/qutebrowser/quickmarks
configs/ssh/**
!configs/ssh/config
configs/w3m/cookie
configs/w3m/history
.deps
**.zip
**.tar.gz
**.log
Brewfile.lock.json
Session.vim
!.tool-versions
