configs/github/hosts.yml
configs/mpd/**
!configs/mpd/mpd.conf
!configs/mpd/playlists
!configs/mpd/playlists/.gitkeep
configs/mysql/data/**
configs/ncmpcpp/**
!configs/ncmpcpp/config
!configs/ncmpcpp/bindings
configs/neomutt/accounts/default
configs/nvim/autoload
configs/nvim/plugged
deps
**.zip
**.tar.gz
**.log
Brewfile.lock.json
Session.vim
