<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>me.spywhere.restart</string>
        <key>ProgramArguments</key>
        <array>
                <string>osascript</string>
                <string>-e</string>
                <string>tell app "loginwindow" to «event aevtrrst»</string>
        </array>
        <key>StartCalendarInterval</key>
        <dict>
                <key>Hour</key>
                <integer>6</integer>
                <key>Minute</key>
                <integer>0</integer>
        </dict>
</dict>
</plist>
