name: MacOS Test
on: push

jobs:
  macos-local-verbose:
    name: Local Install - Verbose (MacOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Installation Info
        run: |
          sh install.sh -i
      - name: Perform Installation
        run: |
          brew remove mongodb-community
          sh install.sh -v no-mas
  macos-local-normal:
    name: Local Install - Normal (MacOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Installation Info
        run: |
          sh install.sh -i
      - name: Perform Installation
        run: |
          brew remove mongodb-community
          sh install.sh no-mas
  macos-local-quiet:
    name: Local Install - Quiet (MacOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Installation Info
        run: |
          sh install.sh -i
      - name: Perform Installation
        run: |
          brew remove mongodb-community
          sh install.sh -q no-mas

  macos-remote-verbose:
    name: Remote Install - Verbose (MacOS)
    runs-on: macos-latest
    steps:
      - name: Installation Info
        run: |
          sh -c "$(curl -sSL git.io/Jt8w0)" - -i
      - name: Perform Installation
        run: |
          brew remove mongodb-community
          sh -c "$(curl -sSL git.io/Jt8w0)" - -v no-mas
